/*
940px grid system ~ Core CSS.
10 Columns ~ Margin left: 0px

Based on the simple grid system - http://www.webnicer.com/
by Jacek Ciolek

Created by the Grid System Generator - v1.00
Learn more ~ http://www.gridsystemgenerator.com/
*/

/* clearfix */
.clearfix:after, .row:after {content:"."; display:block; height:0; clear:both; visibility:hidden;}
.clearfix, .row {display:inline-block;} /*Those two .clearfix have to be separate!)*/
.clearfix, .row {display:block;}

/* gridframework
.row {position:relative; margin-left:-0px;}
.gu1 .row {width: 94px;}
.gu2 .row {width: 188px;}
.gu3 .row {width: 282px;}
.gu4 .row {width: 376px;}
.gu5 .row {width: 470px;}
.gu6 .row {width: 564px;}
.gu7 .row {width: 658px;}
.gu8 .row {width: 752px;}
.gu9 .row {width: 846px;}
.gu10 .row {width: 940px;}

.col {padding-left:0px; float:left; position:relative;}
.gu1{width: 94px;}
.gu2{width: 188px;}
.gu3{width: 282px;}
.gu4{width: 376px;}
.gu5{width: 470px;}
.gu6{width: 564px;}
.gu7{width: 658px;}
.gu8{width: 752px;}
.gu9{width: 846px;}
.gu10{width: 940px;}
*/

/*  SECTIONS  */
.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

/*  COLUMN SETUP  */
.col {
    display: block;
    float:left;
    margin: 0;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF TEN  */
.span_10_of_10 {
    width: 100%;
}

.span_9_of_10 {
    width: 90%;
}

.span_8_of_10 {
    width: 80%;
}

.span_7_of_10 {
    width: 70%;
}

.span_6_of_10 {
    width: 60%;
}

.span_5_of_10 {
    width: 50%;
}

.span_4_of_10 {
    width: 40%;
}

.span_3_of_10 {
    width: 30%;
}

.span_2_of_10 {
    width: 20%;
}

.span_1_of_10 {
    width: 10%;
}
